body {
    font-family: 'Roboto Mono', monospace; 
    background-color: #f0e6d6; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    cursor: url('icons/cursor.png'), auto;
}

.container {
    width: 95%;
    max-width: 1000px;
    background-color: #f8f5ee;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #6d5b4a;
    margin-bottom: 25px;
    font-size: 2.5em;
    text-transform: uppercase; 
    letter-spacing: 2px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #a7754d; 
    margin-bottom: 25px;
    font-size: 2.5em;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

#newTask {
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;
    padding: 12px;
    border: 2px solid #d4a373; 
    border-radius: 8px;
    font-size: 16px;
}

#addTaskBtn {
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 15px;
    margin-left: 10px;
    background-color: #a7c957;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#addTaskBtn:hover {
    background-color: #86af49; 
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #e9ece5; 
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #d4a373;
    cursor: grab;
}

.task-item.dragging {
    opacity: 0.5;
}

.task-item.completed span {
    text-decoration: line-through;
    color: #bbb;
}

.task-content {
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;
    margin-left: 10px;
    font-size: 16px;
    color: #588157; 
    cursor: text;
}

.task-actions button {
    background: none;
    border: none;
    color: #43522a; 
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}

.task-actions button:hover {
    color: #a73030; 
}


.checkbox {
    
    width: 20px;
    height: 20px;
    border: 2px solid #d4a373;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    background-color: #fef6e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:checked {
    background-color: #a7c957;
}

.checkbox:checked::before {
    content: '✓';
    color: #fff;
    font-size: 14px;
}

.github-link {
    text-align: center;
}

.github-link a {
    text-decoration: none;
}

#githubButton {
    font-family: 'Courier New', Courier, monospace; 
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #588157;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

#githubButton:hover {
    background-color: #436142;
}